@font-face {
    font-family: recoleta;
    src: url(/font/Recoleta-Regular.ttf);
}

@font-face {
    font-family: minima;
    src: url(/font/Minima\ Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
}

body p {
    margin: 0;
    padding: 0;
}

span {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #05422c;
  height: 200vh;
}


.text {
  /* position: fixed; */
  height: 98px;
  width: auto;
}


.text-main .satu {
  /* margin-top: 55px; */
  padding-top: 35px;
  margin-left: 20px;
  text-align: center;
  font-family: recoleta;
  font-size: 32px;
  color: #81ad67;
}

.text-main .animate {
  width: 400px;
  font-family: recoleta;
  font-size: 36px;
  margin-left: 10px;
  color: #fff;
  text-align: center;
}

.card {
    position: relative;
    width: 270px;
    height: 350px;
    background: #0b553a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    /* font-weight: bold; */
    border-radius: 15px;
    cursor: pointer;
    margin-left: 25%;
    transform: translate(-33px, 200px);
    font-family: minima;
    margin-bottom: 50px;
    color: white;
  }
  
  .card::before,
  .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    /* font-weight: bold; */
    background-color: #5d7e4b;
    transition: all 0.5s;
    font-family: minima;
  }
  
  .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .card:hover::before,
  .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .card:hover:after {
    content: "hai sa, lama ya ngga ngobrol";
    text-align: center;

  }

  .card2 {
    position: relative;
    width: 270px;
    height: 350px;
    background: #0b553a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    /* font-weight: bold; */
    border-radius: 15px;
    cursor: pointer;
    margin-left: 25%;
    transform: translate(-33px, 200px);
    font-family: minima;
    margin-bottom: 50px;
    color: white;
  }
  
  .card2::before,
  .card2::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    /* font-weight: bold; */
    background-color: #5d7e4b;
    transition: all 0.5s;
    font-family: minima;
  }
  
  .card2::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card2::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .card2:hover::before,
  .card2:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .card2:hover:after {
    content: "sorry sasa";
  }
